<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=110202509104041";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<section id="post-<%= post.id %>">
<div class="topBorder"></div>
	<div class="post contain">
    <%- if post.external? -%>
      <h2 class="external">
        <% if @single_post %><%= link_to post.title, post.url %><% else %><%= link_to post.title, post.url %><% end %>
        <%= link_to '⚓', post.slug, :class => 'permalink' %>
      </h2>

			<div class="fb-like" data-href="http://www.facebook.com/awesomenight" data-send="false" data-width="450" data-show-faces="true"></div>
			
    <%- else -%>
      <h2><% if @single_post %><%= post.title %><% else %><%= link_to post.title, post.slug %><% end %></h2><div class="fb-like" data-href="http://www.facebook.com/awesomenight" data-send="false" data-width="450" data-show-faces="true"></div>
			
    <%- end -%>
		
    <% if post.has_more_tag && !@single_post && !@preview %>
      <% if post.excerpt %><%= markdown(post.excerpt).to_html.html_safe %><% end %>
	    <%= link_to "Continue Reading →", post.slug, :class => "button" %>
    <% else %>
      <% if post.content %><%= markdown(post.content).to_html.html_safe %><% end %>
    <% end %>

    <%- if is_admin? -%>
      <ul class="actions">
        <li><%= link_to 'Edit', '/edit/' + post.id.to_s unless @preview %></li>
      </ul>
    <%- end -%>
	</div>
<i class="spinePointer"></i>
<div class="bottomBorder"></div>	

  <% if @single_post %><div class="fb-comments" data-width="630" data-num-posts="5"></div></br><a class="button" href="<%= root_url %>">Back to All Posts</a><% end %>
</section>
